<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/src/favicon.png">
    <link rel="stylesheet" href="/styleSheet/dashboard.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
     
</head>
<body>
    <div class="nav_bar">
        <nav class="navbar navbar-light fixed-top pt-3 pb-3" style="background-color: #48cae4;">
            <a class="navbar-brand pl-5" href="/dashboard">
                <img src="/src/logo.png" style="height: 33px;" alt="Company logo">
            </a>
            <a href="/add_request"><button class="btn" type="button" id="addButton" data-toggle="tooltip" data-placement="left" title="Add request by Users"> Add <i class="bi bi-plus-circle-fill"></i></button></a>
            
            <ul class="" style="width: 17%; margin: unset;">
                <li class="nav-item dropdown" style="list-style-type: none; color: #303a4e; font-size: 16px; position: relative;
                right: -40px;">
                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                        <% if (typeof username != undefined) { %>
                            <%= username %>
                                <% }else {%>
                                    Profile
                                    <% } %>
                    </a>
                    <div class="dropdown-menu">
                        <% if(typeof userId != undefined){ %>
                            <a class="dropdown-item" style="color: #303a4e;" href="/profile_update/<%= userId %>">Profile Upload</a>
                            <% }else { %>
                                <% if (typeof result != undefined) { %>
                                <% result.forEach((e) => { %>
                                    <a class="dropdown-item" style="color: #303a4e;" href="/profile_update/<%= e.userId %>">Profile Upload</a>
                          <%  }); %>
                        <% } %>
                        <%  } %>
                        <a class="dropdown-item" style="color: #303a4e;" href="/changePassword">change Password</a>
                        <div class="dropdown-divider"></div>
                        <div class="logout">
                            <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                                data-target="#exampleModal">
                                Logout
                            </button>
                        </div>
                </li>
            </ul>
        </nav>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="display: flex; justify-content: center; align-items: center;">
                    <i class="bi bi-exclamation-triangle-fill" style="padding: 0px 5px 0px; color: red;"></i>
                    <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure, You want to Logout !
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="/logout" method="POST">
                        <input type="submit" value="Yes" id="exampleModal" class="btn btn-danger">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <% let success_message = [] %>
    <% let errors_message = [] %>
    
    <% let titles_msg1 = [] %>
    <% if(sucess != '' || titles){ %>
        <% success_message.push(sucess) %>    
        <% titles_msg1.push(titles) %>    
        <% } %>
        
    <% let titles_msg2 = [] %>
    <% if( errors && titles != ''){ %>
            <% errors_message.push(errors) %>
            <% titles_msg2.push(titles) %>
        <% } %>

        <% let lastIndex = 0; %>
        <% result5.forEach((e,i) => { %>
            <% if (e.is_deleted !==1 && e.statuses !== 'approved') { %>
                <% lastIndex++ %>
           <% } %>
        <% }); %>
    <div class="main">
        <div class="container">
            <div class="right-section">
                <h6>Welcome to Sunshine Company, <br> where you can delivering innovative solutions with exceptional expertise in, <br><span id="element"></span></h6>
            </div>
            <div class="left-section">
                <img src="/src/bg.png" alt="Developer background image">
            </div>
            <div class="request">
                <button type="button" id="request_btn" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal5" data-toggle="tooltip" data-placement="right" title="To see your request progress. You have Still <%=lastIndex %> Pending Request"><img src="/src/question.png"> <span class="badge badge-light"><%= lastIndex %></span>
              </button>
            </div>
        </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel5" aria-hidden="true">
    <div class="modal-dialog" style="display: flex; justify-content: center;">
      <div class="modal-content" style="width: fit-content;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel5" style="color: #457b9d;">Request status</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% if (typeof result5 != undefined) { %>
          <% if (result5[0]) { %>
          <table class="table table-bordered" style="width: max-content;">
            <thead>
              <tr>
                <th scope="col">Trns_id</th>
                <th scope="col">User Name</th>
                <th scope="col">Total amounts</th>
                <th scope="col">Payments Date</th>
                <th scope="col">Request submit date</th>
                <th scope="col">Current Status</th>
                <th scope="col">Edit</th>
                <th scope="col">View</th>
              </tr>
            </thead>
            <% result5.forEach((e,i) => { %>
            <tbody>
              <% if (e.is_deleted !== 1) { %>
              <tr>
                <td><%= e.id %></td>
                <td><%= username %></td>
                <td><%= e.total_amount %></td>
                <td><%= e.payments_date %></td>
                <td><%= e.created_at.toLocaleDateString("es-CL") %></td>
                <td>
                  <% if (e.statuses === 'approved') { %>
                  <button class="btn btn-success" disabled><%= e.statuses %></button>
                </td>
                <% } else { %>
                <button class="btn btn-primary" disabled><%= e.statuses %></button></td>
                <% } %>
                <td>
                    <!-- for edit payment request -->
                  <% if (e.statuses === 'pending') { %>
                  <a href="/edit/request/<%= e.id %>"><button class="btn btn-warning" enable style="color: white; cursor: pointer;"><i class="bi bi-eye-fill"></i></button></a>
                  <% } else { %>
                  <button class="btn btn-warning" disabled style="color: white; cursor: no-drop;"><i class="bi bi-eye-fill"></i></button>
                  <% } %>
                </td>
                <td>
                    <!-- for delete payment request -->
                  <% if (e.statuses === 'pending') { %>
                    <button class="btn btn-danger" type="button" onclick="confirmDelete('<%= e.id %>')"><i class="bi bi-trash-fill"></i></button>
                    <% } else { %>
                    <button class="btn btn-danger" disabled style="color: white; cursor: no-drop;"><i class="bi bi-trash-fill"></i></button>
                    <% } %>
                </td>
              </tr>
            </tbody>
            <% } %>
            <% }); %>
          </table>
          <% } else { %>
          <h1>Not Request has found <i class="bi bi-emoji-frown-fill"></i></h1>
          <% } %>
      <% } %>  
      <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this transaction?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form id="deleteForm" action="/delete/request" method="POST">
                        <input type="hidden" id="deleteTransactionId" name="transactionId">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
      </div>    
 </div>
    <div class="modal-footer" style="display: flex; justify-content: space-between;">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>


<script>
// Type Js ...........................................
        let typed = new Typed('#element', {
            strings: ['<i>Full-stack Web Development</i>', '<i>Figma Designing<i/>', '<i>Web Designing<i/>'],
            typeSpeed: 50,
            backSpeed: 40,
            loop: true,
        }); 

// For Tooltips
$(function() {
  $('[data-toggle="tooltip"]').tooltip();
  $('#request_btn').tooltip();
});

function confirmDelete(transactionId) {
      $('#deleteConfirmationModal').modal('show');
      document.getElementById('deleteTransactionId').value = transactionId;
};
// Toaster Notification................................
        $(window).on("load", function(){
            let sucessAlerts = "<%=success_message %>";
            let errorsAlerts = "<%=errors_message %>";
            let titles1 = "<%= titles_msg1 %>";
            let titles2 = "<%= titles_msg2 %>";

            if (sucessAlerts) {
                new Notify({
                status: 'success',
                title: (titles1 != '')?titles1:'<%= username %>',
                text: sucessAlerts,
                effect: 'slide',
                speed: 300,
                customClass: '',
                customIcon: '',
                showIcon: true,
                showCloseButton: false,
                autoclose: true,
                autotimeout: 3000,
                gap: 80,
                distance: 10,
                type: 3,
                position: 'right top'
            });
            } else if (errorsAlerts){
               new Notify({
                status: 'error',
                title: titles2,
                text: errorsAlerts,
                effect: 'slide',
                speed: 500,
                customClass: '',
                customIcon: '',
                showIcon: true,
                showCloseButton: false,
                autoclose: true,
                autotimeout: 3000,
                gap: 80,
                distance: 10,
                type: 3,
                position: 'right top'
            });
            };     
        });
// ckeckbox function....................
    // function updateSelectedTransactions(checkbox) {
    //     let checkboxes = document.getElementsByName('transactionIds')
    //     checkboxes.forEach((item) => {
    //     if (item !== checkbox) item.checked = false
    
    //     const transactionId = item.value;
    //     const selectedTransactions = document.getElementById('selectedTransactions');
   
    //     if (item.checked) {
    //         selectedTransactions.value = transactionId;
    //     } else {
    //         selectedTransactions.value = selectedTransactions.value.replace(transactionId + '');
    //     }
    // });
    // };
    </script>
</body>
</html>